<h2 class="text-3xl font-[500] m-0">Add Product</h2>
<div class="">
  <form
    (submit)="onSubmit(f.value)"
    #f="ngForm"
    class="px-1 mb-10 flex flex-wrap w-full"
  >
    <div class="lg:w-[50%] md:w-[60%] zero:w-full mx-auto sm:p-10">
      <p class="ps-3 font-[500] mb-1 text-sm">Image Cover</p>
      <div class="flex items-center justify-center w-full">
        @if (imageUrlMain) {
          <div class="p-2 flex flex-col items-center justify-center w-full overflow-hidden h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800">
            <img  [src]="imageUrlMain" alt="Preview" width="200" class="border" />
          </div>

}
@else {
<label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and
              drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">
              SVG, PNG, JPG
            </p>
          </div>
          <input
            id="dropzone-file"
            type="file"
            class="hidden"
            (change)="onFileSelected($event)"
            (change)="onFileSelectedImage($event)"
          />
        </label>
}

      </div>
      <div class="my-8 flex items-center justify-between flex-wrap ">

      @if (imageUrl1) {
          <div class="p-2 flex flex-col items-center justify-center w-[30%] h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800">
            <img  [src]="imageUrl1" alt="Preview" width="200" class="border" />
          </div>
      }
      @else {
      <label
                for="dropzone-file"
                class="flex flex-col items-center justify-center w-[30%] h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
              >
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-[12px] text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG
                  </p>
                </div>
                <input
                  id="dropzone-file"
                  type="file"
                  class="hidden"
                  (change)="onFileSelected1($event)"
                  (change)="onFileSelectedImage1($event)"
                />
      </label>
      }

      @if (imageUrl2) {
          <div class="p-2 flex flex-col items-center justify-center w-[30%] h-32 overflow-hidden border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800">
            <img  [src]="imageUrl2" alt="Preview" width="200" class="border" />
          </div>
      }
      @else {
      <label
                for="dropzone-file"
                class="flex flex-col items-center justify-center w-[30%] h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
              >
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-[12px] text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG
                  </p>
                </div>
                <input
                  id="dropzone-file"
                  type="file"
                  class="hidden"
                  (change)="onFileSelected2($event)"
                  (change)="onFileSelectedImage2($event)"
                />
      </label>
      }

      @if (imageUrl3) {
          <div class="p-2 flex flex-col items-center justify-center  w-[30%] h-32 overflow-hidden border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800">
            <img  [src]="imageUrl3" alt="Preview" width="200" class="border" />
          </div>
      }
      @else {
      <label
                for="dropzone-file"
                class="flex flex-col items-center justify-center w-[30%] h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
              >
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-[12px] text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG
                  </p>
                </div>
                <input
                  id="dropzone-file"
                  type="file"
                  class="hidden"
                  (change)="onFileSelected3($event)"
                  (change)="onFileSelectedImage3($event)"
                />
      </label>
      }

      @if (imageUrl4) {
          <div class="p-2 mt-6 flex flex-col items-center justify-center  w-[30%] h-32 overflow-hidden border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800">
            <img  [src]="imageUrl4" alt="Preview"  class="border w-full" />
          </div>
      }
      @else {
      <label
                for="dropzone-file"
                class="flex mt-6 flex-col items-center justify-center w-[30%] h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
              >
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg
                    class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 16"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                    />
                  </svg>
                  <p class="mb-2 text-[12px] text-gray-500 dark:text-gray-400">
                    <span class="font-semibold">Click to upload</span>
                  </p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">
                    SVG, PNG, JPG
                  </p>
                </div>
                <input
                  id="dropzone-file"
                  type="file"
                  class="hidden"
                  (change)="onFileSelected4($event)"
                  (change)="onFileSelectedImage4($event)"
                />
      </label>
      }

      </div>
      @if (selectedOption == '1') {
      <form [formGroup]="PhoneForm">
        <div class="phones border rounded-lg px-5 py-7 relative">
          <label class="absolute -top-[10px] left-4">Phones</label>

          <div class="flex flex-wrap justify-between mb-6">
            <div class="w-[45%]">
              <label
                for="RAM"
                class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
                >RAM</label
              >
              <select
                id="RAM"
                formControlName="ram"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option selected>Select Ram size</option>
                <option value="2">2GB</option>
                <option value="4">4GB</option>
                <option value="8">8GB</option>
                <option value="16">16GB</option>
                <option value="32">32GB</option>
              </select>
            </div>
            <div class="w-[45%]">
              <label
                for="RAM"
                class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
                >Memory</label
              >
              <select
                id="RAM"
                formControlName="memory"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              >
                <option selected>Select Memory size</option>
                <option value="128">128GB</option>
                <option value="256">256GB</option>
                <option value="512">512GB</option>
                <option value="1000">1TB</option>
              </select>
            </div>
          </div>
          <div class="flex flex-wrap justify-between mb-6">
            <div class="w-[45%]">
              <label
                for="first_name"
                class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
                >CPU</label
              >
              <input
                type="text"
                id="first_name"
                formControlName="cpu"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Ex: A15 Bionic"
                required
              />
            </div>
            <div class="w-[45%]">
              <label
                for="first_name"
                class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
                >Screen Size</label
              >
              <input
                type="number"
                id="first_name"
                formControlName="screen_Size"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Ex: 6.10"
                required
              />
            </div>
          </div>
          <div class="flex flex-wrap justify-between">
            <div class="w-[45%]">
              <label
                for="first_name"
                class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
                >Color</label
              >
              <input
                type="text"
                id="first_name"
                formControlName="color"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Ex: Gray"
                required
              />
            </div>
          </div>
        </div>
      </form>
      } @else if (selectedOption == '2') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">Laptops</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Weight</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Gray"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >RAM</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Ram size</option>
              <option value="2">2GB</option>
              <option value="4">4GB</option>
              <option value="8">8GB</option>
              <option value="16">16GB</option>
              <option value="32">32GB</option>
            </select>
          </div>
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Memory size</option>
              <option value="128">128GB</option>
              <option value="256">256GB</option>
              <option value="512">512GB</option>
              <option value="1000">1TB</option>
              <option value="2000">2TB</option>
              <option value="4000">4TB</option>
              <option value="8000">8TB</option>
            </select>
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory Type</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Memory Type</option>
              <option value="2">SSD</option>
              <option value="4">HHD</option>
            </select>
          </div>

          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Graphics_Card</label
            >
            <input
              type="Text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: NVIDIA GTX 1650"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CPU</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between"></div>
      </div>
      } @else if (selectedOption == '4') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">SmartWatches</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Color</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Gray"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >OS</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>
      </div>
      } @else if (selectedOption == '7') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">TV</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Resolution</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: FullHd"
              required
            />
          </div>
        </div>
      </div>
      } @else if (selectedOption == '19') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">PC</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >RAM</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Ram size</option>
              <option value="2">2GB</option>
              <option value="4">4GB</option>
              <option value="8">8GB</option>
              <option value="16">16GB</option>
              <option value="32">32GB</option>
            </select>
          </div>
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Memory size</option>
              <option value="128">128GB</option>
              <option value="256">256GB</option>
              <option value="512">512GB</option>
              <option value="1000">1TB</option>
              <option value="2000">2TB</option>
              <option value="4000">4TB</option>
              <option value="8000">8TB</option>
            </select>
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory Type</label
            >
            <select
              id="RAM"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option selected>Select Memory Type</option>
              <option value="2">SSD</option>
              <option value="4">HHD</option>
            </select>
          </div>

          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Graphics_Card</label
            >
            <input
              type="Text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: NVIDIA GTX 1650"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CPU</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
        </div>
      </div>
      }
    </div>
    <div class="lg:w-[50%] md:w-[70%] mx-auto lg:pt-10 space-y-5">
      <div>
        <label
          for="first_name"
          class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >Product Code</label
        >
        <input
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="5-400-5-6"
          name="Item_ID"
          ngModel
          required
        />
      </div>
      <div>
        <label
          for="first_name"
          class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >Product Name</label
        >
        <input
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Ex:  Iphone 16 Pro Max"
          name="Item_Name"
          ngModel
          required
        />
      </div>
      <div>
        <label
          for="first_name"
          class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >Product Description</label
        >
        <textarea
          type="text"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          rows="6"
          placeholder="Ex:  Latest Apple iPhone Version"
          name="Description"
          ngModel
          required
        ></textarea>
      </div>
      <div class="flex flex-wrap justify-between">
        <div class="w-[45%]">
          <label
            for="countries"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Category</label
          >
          <select
            name="Category_ID"
            ngModel
            (change)="onCategoryChange($event)"
            [(ngModel)]="selectedCatOption"
            id="countries"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Category</option>
            @for (item of categoryList; track $index) {
            <option value="{{ item.Category_ID }}">
              {{ item.Category_Name }}
            </option>

            }
            <!-- <option value="1">Electronics</option>
            <option value="5">Home Appliances</option>
            <option value="9">Clothing</option>
            <option value="FR">Books</option>
            <option value="DE">Beauty</option>
            <option value="DE">Sports</option>
            <option value="DE">accessories</option>
            <option value="DE">Tools</option>
            <option value="DE">Furniture</option> -->
          </select>
        </div>
        <div class="w-[45%]">
          <label
            for="countries"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Sub Category</label
          >
          <select
            name="Sub_Category_ID"
            ngModel
            (change)="onSubCategoryChange($event)"
            id="countries"
            [(ngModel)]="selectedOption"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Sub Category</option>
            @for (item of subCategoryList; track $index) {
            <option value="{{ item.Sub_Category_ID }}">
              {{ item.Sub_Category_Name }}
            </option>

            }
            <!-- <option value="1">Smartphones</option>
            <option value="3">Tablets</option>
            <option value="2">Laptops</option>
            <option value="FR">Refrigerators</option>
            <option value="DE">Clothing for Men</option>
            <option value="7">Tvs</option>
            <option value="4">SmartWatches</option>
            <option value="19">PCs</option> -->
          </select>
        </div>
        <div class="w-[45%] mt-4">
          <label
            for="countries"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Brand</label
          >
          <select
            id="countries"
            name="Brand_ID"
            ngModel
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Brand</option>
            @for (item of brandList; track $index) {
            <option value="{{ item.Brand_ID }}">{{ item.Brand_Name }}</option>

            }
            <!-- <option value="1">Smartphones</option>
            <option value="3">Tablets</option>
            <option value="2">Laptops</option>
            <option value="FR">Refrigerators</option>
            <option value="DE">Clothing for Men</option>
            <option value="7">Tvs</option>
            <option value="4">SmartWatches</option>
            <option value="19">PCs</option> -->
          </select>
        </div>
      </div>
      <div class="flex flex-wrap justify-between">
        <div class="w-[30%]">
          <label
            for="first_name"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Price in</label
          >
          <input
            type="number"
            id="first_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ex: 1500"
            name="Price_in"
            ngModel
            required
          />
        </div>
        <div class="w-[30%]">
          <label
            for="first_name"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Price Out</label
          >
          <input
            type="number"
            id="first_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ex: 1700"
            name="Price_out"
            ngModel
            required
          />
        </div>
        <div class="w-[30%]">
          <label
            for="first_name"
            class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Discount</label
          >
          <input
            type="number"
            id="first_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ex: 50"
            name="Discount"
            ngModel
            required
          />
        </div>
      </div>
      <div class="w-[30%]">
        <label
          for="first_name"
          class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
          >Quantity</label
        >
        <input
          type="number"
          id="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Ex: 22"
          name="Quantity"
          ngModel
          required
        />
      </div>
      <!-- <div class="flex items-center mt-5 mb-5">
        <div class="flex items-center space-x-1 rtl:space-x-reverse">
          @for (num of [1,2,3,4,5].slice(0,4.5); track
          $index) {
          <svg
            class="w-4 h-4 text-yellow-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          } @if (4.5 %1 !== 0) {
          <i class="fa-solid fa-star-half-stroke w-4 h-4 text-yellow-300"></i>
          }

        </div>
        <span
          class="bg-emerald-200 text-emerald-900 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-emerald-200 dark:text-emerald-800 ms-3"
          >4.5</span
        >
      </div> -->
      <div class="flex items-center justify-center">
        <button
          class="px-[15px] py-[5px] rounded-lg text-white bg-green-500 shadow-md hover:bg-[#3adb75] transition-all shadow-green-500"
        >
          <i class="text-xl fa-regular fa-floppy-disk pe-2"></i> Save Product
        </button>
      </div>

      <!-- <h2 class="text-2xl font-semibold pb-3 text-black dark:text-white">Brand Details</h2> -->
    </div>
  </form>
</div>
<!--
<h1
  class="text-3xl transition-all duration-[0.5s] text-black dark:text-white hover:text-white p-4 w-fit mx-auto relative mb-5 before:w-8 before:h-8 before:bg-[#1a56db] before:z-[-1] before:absolute before:-left-6 before:translate-y-[-50%] before:top-[50%] before:rounded-full before:transition-all before:duration-[0.5s] after:z-[-1] after:transition-all after:duration-[0.5s] after:translate-y-[-50%] after:w-8 after:h-8 after:bg-[#1a56db] after:absolute after:-right-6 after:top-[50%] after:rounded-full hover:before:w-full hover:after:h-[75%] hover:before:h-[75%] hover:after:w-full"
>
  Related Products
</h1>
<owl-carousel-o [options]="customOptionsCat">
  @for (item of [1,2,3,4,5] ; track $index) {
  <ng-template carouselSlide>
    <div class="p-2">
      <div
        class="hover:scale-[1.05] transition-all duration-[0.5s] bg-white p-3 rounded-lg shadow-lg"
      >
        <owl-carousel-o [options]="customOptionsCat">
          @for (item of [1,2,3]; track $index) {
          <ng-template carouselSlide>
            <div class="text-center cursor-pointer">
              <img
                src="../../../assets/images/OIP.jpeg"
                [alt]=""
                class="w-full h-[200px] rounded-md"
              />
            </div>
          </ng-template>
          }
        </owl-carousel-o>

        <h5 class="my-2 font-semibold">Apple Watch Series 4</h5>
        <div class="flex justify-between">
          <p class="my-1 text-[#4880FF] font-semibold">1200$</p>
          <div
            class="cursor-pointer p-1 rounded-full color1 d-flex items-center justify-center"
          >
            <i class="fa-regular fa-heart"></i>
          </div>
        </div>

        <div class="flex my-2">
          <i class="fa-solid fa-star text-yellow-400"></i>
          <i class="fa-solid fa-star text-yellow-400"></i>
          <i class="fa-solid fa-star text-yellow-400"></i>
          <i class="fa-solid fa-star-half-stroke text-yellow-400"></i>
          <i class="fa-regular fa-star text-yellow-400"></i>
        </div>
        <button
          class="bg-slate-100 text-sm font-semibold rounded-md px-3 py-1 my-2"
        >
          Edit product
        </button>
      </div>
    </div>
  </ng-template>
  }
</owl-carousel-o> -->

<div>
<input type="file" (change)="onFileSelectedImage($event)" />
@if (imageUrlMain) {
<img  [src]="imageUrlMain" alt="Preview" width="200" class="border" />

}
</div>
