      <aside
        class="flex flex-col items-center justify-center w-full bg-white "
      >

        <div class="p-6 flex-col overflow-y-scroll h-screen items-center">
          <div class="logo mb-5 mx-auto w-fit">
            <img src="./assets/images/Logo  (Light).png" alt="Logo" />
          </div>
          <ul class="">
            <li routerLink="/dashboard" routerLinkActive="act"  class=" py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div  class=" pe-3">
                <i  class="bi bi-bar-chart-line "></i>
              </div>
              <span>Dashboard</span>
            </li>
            <li  routerLink="/products" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2 ">
              <div class=" pe-3"><i class="bi bi-boxes"></i></div>
              <span >Products</span>
            </li>
            <li  routerLink="/favorites" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div  class=" pe-3"><i  class="bi bi-heart"></i></div>
              <span >Favorites</span>
            </li>

            <li  routerLink="/orderListes" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">
                <i class="bi bi-card-checklist"></i>
              </div>
              <span>Order Listes</span>
            </li>
            <li  routerLink="/productStock" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3"><i class="bi bi-database"></i></div>
              <span>Product Stock</span>
            </li>
            <hr />
            <li  routerLink="/pricing" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">
                <i class="bi bi-gift"></i>
              </div>
              <span>Pricing</span>
            </li>

            <li  routerLink="/charts" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">
                <i class="bi bi-pie-chart"></i>
              </div>
              <span>Charts</span>
            </li>

            <li  routerLink="/reports" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">
                <i class="bi bi-clipboard2"></i>
              </div>
              <span>Reports</span>
            </li>
            <li  routerLink="comparison" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">
                <i class="bi bi-window-stack"></i>
              </div>
              <span>Comparison</span>
            </li>
            <li  routerLink="dashboar--" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">

              </div>
              <span>Dashboard</span>
            </li>
            <li  routerLink="dashboar--" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">

              </div>
              <span>Dashboard</span>
            </li>
            <li  routerLink="dashboar--" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">

              </div>
              <span>Dashboard</span>
            </li>
            <li  routerLink="dashboar--" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3">

              </div>
              <span>Dashboard</span>
            </li>
            <hr />
            <li  routerLink="/settings" routerLinkActive="act" class="py-[8px] px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3"><i class="bi bi-gear"></i></div>
              <span>Settings</span>
            </li>
            <li (click)="logout()"  class="py-[8px]  px-[30px] text-black relative transition-all duration-[0.5s] cursor-pointer hover:text-white hover:bg-[#4880FF] hover:rounded-lg before:absolute before:w-[5px] before:rounded-full before:start-[-50%] before:top-[2px] before:bottom-[2px] before:bg-[#4880FF] before:transition-all before:duration-[0.5s] hover:before:start-[-10%] flex my-2">
              <div class=" pe-3"><i class="bi bi-power"></i></div>
              <span>Logout</span>
            </li>
          </ul>
        </div>
      </aside>
