<main>
          <div class="flex flex-wrap gap-y-2 mb-2  ">
            <div class="lg:w-[25%] md:w-4/12 sm:w-6/12  px-2 py-3">
              <div class=" hover:scale-[1.05] transition-all duration-[0.5s] bg-slate-50 p-3 rounded-lg shadow-lg">
                <div
                  class="up flex items-center justify-between"
                >
                  <div class="">
                    <p class="text-xl font-semibold">Total User</p>
                    <h4 class="font-semibold">$40,689</h4>
                  </div>
                  <div class="">
                    <img src="../../../assets/images/dashbord/Icon(1).png" alt="" />
                  </div>
                </div>
                <div class="down  flex items-center justify-center pt-4">
                  <div class="">
                    <img
                        src="../../../assets/images/dashbord/Path.png"
                        class="pe-1"
                        alt=""/>
                  </div>
                  <span class="text-green-600 ps-3 pe-1 "
                      >8.5%</span>
                  <p class="m-0 text-center items-center text-sm">
                    Up from yesterday
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-[25%] md:w-4/12 sm:w-6/12  px-2 py-3">
              <div class=" hover:scale-[1.05] transition-all duration-[0.5s] bg-slate-50 p-3 rounded-lg shadow-lg">
                <div
                  class="up flex items-center justify-between"
                >
                  <div class="">
                    <p class="text-xl font-semibold">Total Order</p>
                    <h4 class="font-semibold">$10293</h4>
                  </div>
                  <div class="">
                    <img src="../../../assets/images/dashbord/Icon(2).png" alt="" />
                  </div>
                </div>
                <div class="down  flex items-center justify-center pt-4">
                  <div class="">
                    <img
                        src="../../../assets/images/dashbord/Path.png"
                        class="pe-1"
                        alt=""/>
                  </div>
                  <span class="text-green-600 ps-3 pe-1 "
                      >27.5%</span>
                  <p class="m-0 text-center items-center text-sm">
                    Up from yesterday
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-[25%] md:w-4/12 sm:w-6/12  px-2 py-3 ">
              <div class=" hover:scale-[1.05] transition-all duration-[0.5s] bg-slate-50 p-3 rounded-lg shadow-lg">
                <div
                  class="up flex items-center justify-between"
                >
                  <div class="">
                    <p class="text-xl font-semibold">Total Sales</p>
                    <h4 class="font-semibold">$89,000  </h4>
                  </div>
                  <div class="">
                    <img src="../../../assets/images/dashbord/Icon(3).png" alt="" />
                  </div>
                </div>
                <div class="down  flex items-center justify-center pt-4">
                  <div class="">
                    <img
                        src="../../../assets/images/dashbord/Path(1).png"
                        class="pe-1"
                        alt=""/>
                  </div>
                  <span class="text-red-600 ps-3 pe-1 "
                      >10.7</span>
                  <p class="m-0 text-center items-center text-sm">
                    Down from yesterday
                  </p>
                </div>
              </div>
            </div>
            <div class="lg:w-[25%] md:w-4/12 sm:w-6/12  px-2 py-3">
              <div class=" hover:scale-[1.05] transition-all duration-[0.5s] bg-slate-50 p-3 rounded-lg shadow-lg">
                <div
                  class="up flex items-center justify-between"
                 >
                  <div c4ass="">
                    <p class="text-xl font-semibold">Total Pending</p>
                    <h4 class="font-semibold">$2060</h4>
                  </div>
                  <div class="">
                    <img src="../../../assets/images/dashbord/Icon(4).png" alt="" />
                  </div>
                </div>
                <div class="down flex items-center justify-center pt-4">
                  <div class="">
                    <img
                        src="../../../assets/images/dashbord/Path.png"
                        class="pe-1"
                        alt=""/>
                  </div>
                  <span class="text-green-600 ps-3 pe-1 "
                      >6.5%</span>
                  <p class="m-0 text-center items-center text-sm">
                    Up from yesterday
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="p-2 w-[50%]">
                <div class="bg-slate-50 rounded-lg  p-7  shadow-md">
                    <h2 class="text-2xl mb-5 font-semibold">Sales Details</h2>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
             <div class="p-2 w-[50%]">
              <div class="bg-slate-50 rounded-lg  p-5  shadow-md">
                <h2 class="text-2xl mb-5 font-semibold">Top Sales</h2>
                <div class="relative overflow-x-auto h-[239px] overflow-y-scroll shadow-md sm:rounded-lg">
  <div class="border">
  <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs  border-b text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center">image</th>
        <th scope="col" class="px-6 py-3 text-center"> product Name</th>
        <th scope="col" class="px-6 py-3 text-center">Price</th>

      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="w-[60px]">
            <img src="../../../assets/images/Image(1).png" class="w-full" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>

        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>


      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(2).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>

        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(3).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>

        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(2).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>

        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>

      </tr>
    </tbody>
  </table>
  </div>
</div>
              </div>
             </div>
          </div>
          <div class="p-2">
              <div class="bg-slate-50 rounded-lg  p-5  shadow-md">
                <h2 class="text-2xl mb-5 font-semibold">Lastet Order</h2>
                <div class="relative overflow-x-auto h-[239px] overflow-y-scroll shadow-md sm:rounded-lg">
  <div class="border">
  <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs  border-b text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center">Id</th>
        <th scope="col" class="px-6 py-3 text-center">Name</th>
        <th scope="col" class="px-6 py-3 text-center">Address</th>
        <th scope="col" class="px-6 py-3 text-center">Date</th>
        <th scope="col" class="px-6 py-3 text-center">type</th>
        <th scope="col" class="px-6 py-3 text-center">status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00035
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Christine Brooks</td>
        <td  class=" text-center font-semibold px-6 py-4">089 Kutch Green Apt. 448</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Electric</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-3 py-1 rounded dark:bg-green-900 dark:text-green-300">Completed</span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00925
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Christine Brooks</td>
        <td  class=" text-center font-semibold px-6 py-4">089 Kutch Green Apt. 448</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Book</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Rejected</span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00305
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Darrell Caldwell</td>
        <td  class=" text-center font-semibold px-6 py-4">8587 Frida Ports</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Mobile</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Processing</span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00035
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Christine Brooks</td>
        <td  class=" text-center font-semibold px-6 py-4">089 Kutch Green Apt. 448</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Electric</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-3 py-1 rounded dark:bg-green-900 dark:text-green-300">Completed</span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00925
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Christine Brooks</td>
        <td  class=" text-center font-semibold px-6 py-4">089 Kutch Green Apt. 448</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Book</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Rejected</span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          00305
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Darrell Caldwell</td>
        <td  class=" text-center font-semibold px-6 py-4">8587 Frida Ports</td>
        <td  class=" text-center font-semibold px-6 py-4">$14 Feb 2019</td>
        <td  class=" text-center font-semibold px-6 py-4">Mobile</td>
        <td  class=" text-center font-semibold px-6 py-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">Processing</span>
        </td>
      </tr>

    </tbody>
  </table>
  </div>
</div>
              </div>
             </div>
</main>
