<nav class="flex justify-between items-center  p-3 bg-white  shadow-md w-full">



<div class="relative">
  <input
    placeholder="Search..."
    class="input shadow-sm  border-gray-500 px-5 py-3 rounded-xl w-56 transition-all  outline-none"
    name="search"
    type="search"
  />
  <svg
    class="size-6 absolute top-3 right-3 text-gray-500"
    stroke="currentColor"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      stroke-linejoin="round"
      stroke-linecap="round"
    ></path>
  </svg>
</div>


    <div class="flex">
    <div class="flex items-center">
      <a
            class="cursor-pointer transition-all duration-[0.5s] rounded-lg block py-1.5 px-3 font-[600] text-2xl relative dark:hover:text-white text-[#4880FF] dark:text-black hover:bg-[#81a1ec] hover:text-white"

            ><i class="bi bi-bell-fill"></i>
            <span class="absolute -top-1 -end-1 text-[12px] rounded-full size-6 border text-white bg-red-700 flex justify-center items-center ">5</span>
            </a
          >
    </div>

    <div class="flex">
      <div class="pe-3 ps-5">
        <img src="../../../assets/images/profile.png" class="w-full " alt="profile img">
      </div>
      <div class="text-center">
        <p>M.Faragallah</p>
        <p>Admin</p>
      </div>
    </div>
    </div>
</nav>
