<div class="flex flex-wrap">
<div class="p-5 w-[50%]">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">

                  <canvas id="DonaChart"></canvas>
              </div>
</div>
<div class="p-5 w-[50%]">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">
                  <canvas id="pieChart"></canvas>
              </div>
</div>
<div class="p-5 w-[50%]">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">

                  <canvas id="lineChart"></canvas>
              </div>
</div>
<div class="p-5 w-[50%]">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">
                  <canvas id="bar2Chart"></canvas>
              </div>
</div>
</div>
