<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-10">
  <div class="border">
  <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs  border-b text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center">image</th>
        <th scope="col" class="px-6 py-3 text-center"> product Name</th>
        <th scope="col" class="px-6 py-3 text-center">Category</th>
        <th scope="col" class="px-6 py-3 text-center">Price</th>
        <th scope="col" class="px-6 py-3 text-center">stock</th>
        <th scope="col" class="px-6 py-3 text-center">select</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="w-[60px]">
            <img src="../../../assets/images/Image(1).png" class="w-full" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center items-center">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-1.5 flex justify-center translate-y-2/4">
            <input type="checkbox" value="id" class=" size-4  ">
          </span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(2).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center ">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-1.5 flex justify-center translate-y-2/4">
            <input type="checkbox" value="id" class=" size-4  ">
          </span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(3).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center ">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-1.5 flex justify-center translate-y-2/4">
            <input type="checkbox" value="id" class=" size-4  ">
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5   my-5 mx-auto text-center" >start comparison</button>
  </div>
</div>
<h2 class="text-2xl mb-5 font-semibold ps-2">Charts comparison</h2>
<div class="flex">
<div class="p-2 w-full">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">
                  <h2 class="text-2xl mb-5 font-semibold">profit comparison</h2>
                  <canvas id="lineChartComp"></canvas>
              </div>
</div>
<div class="p-2 w-full">
              <div class="bg-slate-50 rounded-lg  p-7  shadow-md">
                  <h2 class="text-2xl mb-5 font-semibold">profit comparison</h2>
                  <canvas id="barChartComp"></canvas>
              </div>
</div>
</div>
