<h2 class="text-3xl font-[500] m-0">Product Details</h2>
<div class="">

  <form
    class="px-1 mb-10 flex flex-wrap w-full">
    <div class="lg:w-[50%] md:w-[60%] zero:w-full mx-auto sm:p-10">

      <p class="ps-3 font-[500] mb-1 text-sm">Image Cover</p>
       <div class="flex items-center justify-center w-full">
        <img [attr.src]="'http://sm-ecommerce.runasp.net/' + detalisProduct.Data.Image_Cover" class="rounded-md">
       </div>
      <div class="flex items-center justify-center w-full">
        <label
          for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg
              class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 16"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
              />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG</p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)"/>
        </label>
      </div>
      <div class="flex items-center justify-center">
        <button
        (click)="onEdit()"
          class="px-[15px] py-[5px] rounded-lg text-white bg-green-500 shadow-md hover:bg-[#3adb75] transition-all shadow-green-500"
        >
          <i class="text-xl fa-regular fa-floppy-disk pe-2"></i> Edit Image
        </button>
      </div>
      <div class="my-8">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="multiple_files"
          >Upload multiple image</label
        >
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="multiple_files"
          type="file"

        />
      </div>
      @if (selectedOption == '1') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">Phones</label>

        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >RAM</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Ram size</option>
            <option value="2">2GB</option>
            <option value="4">4GB</option>
            <option value="8">8GB</option>
            <option value="16">16GB</option>
            <option value="32">32GB</option>

          </select>
          </div>
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Memory size</option>
            <option value="128">128GB</option>
            <option value="256">256GB</option>
            <option value="512">512GB</option>
            <option value="1000">1TB</option>

          </select>
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CPU</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between ">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Color</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Gray"
              required
            />
          </div>

        </div>
      </div>
      } @else if (selectedOption == '2') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">Laptops</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Weight</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Gray"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >RAM</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Ram size</option>
            <option value="2">2GB</option>
            <option value="4">4GB</option>
            <option value="8">8GB</option>
            <option value="16">16GB</option>
            <option value="32">32GB</option>

          </select>
          </div>
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Memory size</option>
            <option value="128">128GB</option>
            <option value="256">256GB</option>
            <option value="512">512GB</option>
            <option value="1000">1TB</option>
            <option value="2000">2TB</option>
            <option value="4000">4TB</option>
            <option value="8000">8TB</option>

          </select>
          </div>


        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory Type</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Memory Type</option>
            <option value="2">SSD</option>
            <option value="4">HHD</option>


          </select>
          </div>

          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Graphics_Card</label
            >
            <input
              type="Text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: NVIDIA GTX 1650"
              required
            />
          </div>

        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CPU</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap justify-between">

        </div>
      </div>
      } @else if (selectedOption == '4') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">SmartWatches</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Color</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Gray"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >OS</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>
      </div>
      } @else if (selectedOption == '7') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">TV</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Model</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: Apple"
              required
            />
          </div>
        <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Screen Size</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: 6.10"
              required
            />
          </div>
        </div>

        <div class="flex flex-wrap justify-between">
        <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Resolution</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: FullHd"
              required
            />
          </div>
        </div>
      </div>
      } @else if (selectedOption == '19') {
      <div class="phones border rounded-lg px-5 py-7 relative">
        <label class="absolute -top-[10px] left-4">PC</label>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >RAM</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Ram size</option>
            <option value="2">2GB</option>
            <option value="4">4GB</option>
            <option value="8">8GB</option>
            <option value="16">16GB</option>
            <option value="32">32GB</option>

          </select>
          </div>
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Memory size</option>
            <option value="128">128GB</option>
            <option value="256">256GB</option>
            <option value="512">512GB</option>
            <option value="1000">1TB</option>
            <option value="2000">2TB</option>
            <option value="4000">4TB</option>
            <option value="8000">8TB</option>

          </select>
          </div>


        </div>
        <div class="flex flex-wrap justify-between mb-6">
          <div class="w-[45%]">
            <label
              for="RAM"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Memory Type</label
            >
            <select
            id="RAM"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected>Select Memory Type</option>
            <option value="2">SSD</option>
            <option value="4">HHD</option>


          </select>
          </div>

          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >Graphics_Card</label
            >
            <input
              type="Text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: NVIDIA GTX 1650"
              required
            />
          </div>

        </div>
        <div class="flex flex-wrap justify-between">
          <div class="w-[45%]">
            <label
              for="first_name"
              class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white"
              >CPU</label
            >
            <input
              type="number"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Ex: A15 Bionic"
              required
            />
          </div>

        </div>
      </div>
      }
    </div>
    <div class="lg:w-[50%] md:w-[70%] mx-auto lg:pt-10 space-y-5">
      <div>
        <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Product Code</label>
        <input
          type="text"
          [(ngModel)]="detalisProduct.Data.Item_ID"
          name="Item_ID"
          disabled
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          placeholder="5-400-5-6"
        />
      </div>

      <div>
        <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Product Name</label>
        <input
          type="text"
          [(ngModel)]="detalisProduct.Data.Item_Name"
          name="Item_Name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          placeholder="Ex: Iphone 16 Pro Max"
        />
      </div>

      <div>
        <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Product Description</label>
        <textarea
          [(ngModel)]="detalisProduct.Data.Description"
          name="Description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          rows="6"
          placeholder="Ex: Latest Apple iPhone Version"
        ></textarea>
      </div>

      <div class="flex flex-wrap justify-between">
        <div class="w-[45%]">
          <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Category</label>
          <select
            [(ngModel)]="detalisProduct.Data.Category_ID"
            name="Category_ID"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          >
            <option [ngValue]="null">Select Category</option>
            <option [ngValue]="1">Electronics</option>
            <option [ngValue]="5">Home Appliances</option>
            <option [ngValue]="9">Clothing</option>
            <option [ngValue]="10">Books</option>
            <option [ngValue]="11">Beauty</option>
            <option [ngValue]="12">Sports</option>
            <option [ngValue]="13">Accessories</option>
            <option [ngValue]="14">Tools</option>
            <option [ngValue]="15">Furniture</option>
          </select>
        </div>

        <div class="w-[45%]">
          <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Sub Category</label>
          <select
            [(ngModel)]="detalisProduct.Data.Sub_Category_ID"
            name="Sub_Category_ID"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          >
            <option [ngValue]="null">Select Sub Category</option>
            <option [ngValue]="1">Smartphones</option>
            <option [ngValue]="3">Tablets</option>
            <option [ngValue]="2">Laptops</option>
            <option [ngValue]="4">Refrigerators</option>
            <option [ngValue]="5">Clothing for Men</option>
            <option [ngValue]="7">Tvs</option>
            <option [ngValue]="8">SmartWatches</option>
            <option [ngValue]="9">PCs</option>
          </select>
        </div>
      </div>

      <div class="flex flex-wrap justify-between">
        <div class="w-[30%]">
          <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Price in</label>
          <input
            type="number"
            [(ngModel)]="detalisProduct.Data.Price_in"
            name="Price_in"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="Ex: 1500"
          />
        </div>

        <div class="w-[30%]">
          <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Price Out</label>
          <input
            type="number"
            [(ngModel)]="detalisProduct.Data.Price_out"
            name="Price_out"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="Ex: 1700"
          />
        </div>

        <div class="w-[30%]">
          <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Discount</label>
          <input
            type="number"
            [(ngModel)]="detalisProduct.Data.Discount"
            name="Discount"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="Ex: 50"
          />
        </div>
      </div>

      <div class="w-[30%]">
        <label class="block ps-2 mb-1 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
        <input
          type="number"
          [(ngModel)]="detalisProduct.Data.Quantity"
          name="Quantity"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
          placeholder="Ex: 22"
        />
      </div>

      <div class="flex items-center justify-center mt-6 gap-4">
        <button
          (click)="onEdit2()"
          type="button"
          class="px-[15px] py-[5px] rounded-lg text-white bg-green-500 shadow-md hover:bg-[#3adb75] transition-all shadow-green-500"
        >
          <i class="text-xl fa-regular fa-floppy-disk pe-2"></i> Edit Product
        </button>

        <button
          (click)="DeleteItem(detalisProduct.Data.Item_ID)"
          type="button"
          class="px-[15px] py-[5px] rounded-lg text-white bg-red-500 shadow-md hover:bg-[#db3a3a] transition-all shadow-red-500"
        >
          <i class="text-xl fa-solid fa-trash pe-2"></i> Delete Product
        </button>
      </div>
    </div>
  </form>
</div>
