<h2 class="text-3xl font-semibold mb-8">Order Listes</h2>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="border">
  <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs  border-b text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center">image</th>
        <th scope="col" class="px-6 py-3 text-center"> product Name</th>
        <th scope="col" class="px-6 py-3 text-center">Category</th>
        <th scope="col" class="px-6 py-3 text-center">Price</th>
        <th scope="col" class="px-6 py-3 text-center">stock</th>
        <th scope="col" class="px-6 py-3 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 ">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="w-[60px]">
            <img src="../../../assets/images/Image(1).png" class="w-full" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center items-center">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-3 flex justify-center translate-y-2/4">
            <button class="block pe-3 border-e"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="block ps-3"><i class="fa-solid fa-trash-can text-red-600"></i></button>
          </span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(2).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center ">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-3 flex justify-center translate-y-2/4">
            <button class="block pe-3 border-e"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="block ps-3"><i class="fa-solid fa-trash-can text-red-600"></i></button>
          </span>
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th
          scope="row" class=" text-center px-6 py-4 font-semibold text-gray-900  dark:text-white"
        >
          <div class="">
            <img src="../../../assets/images/Image(3).png" alt="">
          </div>
        </th>
        <td  class=" text-center font-semibold px-6 py-4">Apple Watch Series 4</td>
        <td  class=" text-center font-semibold px-6 py-4">Digital Product</td>
        <td  class=" text-center font-semibold px-6 py-4">$690.00</td>
        <td  class=" text-center font-semibold px-6 py-4">63</td>
        <td  class=" text-center font-semibold px-6 py-4 flex justify-center ">
          <span class="bg-slate-100 rounded-md border w-fit py-1.5 px-3 flex justify-center translate-y-2/4">
            <button class="block pe-3 border-e"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="block ps-3"><i class="fa-solid fa-trash-can text-red-600"></i></button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
