<div class="bg-white dark:bg-zinc-900 p-6 rounded-lg shadow">
  <h2 class="text-xl font-bold text-zinc-800 dark:text-white mb-4">
    📅 Daily Sales Report
  </h2>

  <!-- Chart -->
  <div class="flex flex-col md:flex-row gap-6 mb-6">
    <!-- Revenue Chart -->
    <div class="flex-1 bg-white dark:bg-zinc-900 p-4 rounded shadow">
      <h3 class="text-sm font-semibold text-zinc-700 dark:text-white mb-2">Revenue (EGP)</h3>
      <canvas #dailySalesChart class="w-full h-[250px]"></canvas>
    </div>

    <!-- Orders Chart -->
    <div class="flex-1 bg-white dark:bg-zinc-900 p-4 rounded shadow">
      <h3 class="text-sm font-semibold text-zinc-700 dark:text-white mb-2">Order Count</h3>
      <canvas #ordersChart class="w-full h-[250px]"></canvas>
    </div>
  </div>


  <!-- Table -->
  <div class="overflow-x-auto">
    <table class="w-full text-sm text-left text-zinc-600 dark:text-white">
      <thead class="text-xs bg-gray-100 dark:bg-zinc-700">
        <tr>
          <th class="px-4 py-2">🏙 City</th>
          <th class="px-4 py-2">📦 Orders Count</th>
          <th class="px-4 py-2">💰 Total Amount</th>
        </tr>
      </thead>
      <tbody>
        @for (row of dailyData; track $index) {
          <tr class="border-b dark:border-zinc-700">
            <td class="px-4 py-2">{{ row.City }}</td>
            <td class="px-4 py-2">{{ row.OrdersCount }}</td>
            <td class="px-4 py-2">{{ row.Total_Amount }} EGP</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
