
<div class="bg-white rounded-md shadow-md p-5 w-[90%] mx-auto">
<p class="text-sm text-gray-500">The coding system is a system to help write codes automatically every time during product definition. It has four forms as will be explained below</p>
<!-- <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="me-2" role="presentation">
            <button onclick="setver(1)" class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="me-2" role="presentation">
            <button onclick="setver(2)" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
        </li>
        <li class="me-2" role="presentation">
            <button onclick="setver(3)" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
        </li>
        <li role="presentation">
            <button onclick="setver(4)" class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
        </li>
    </ul>
</div>
<div id="default-tab-content">
   @if ( verion == 1) {
    <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
   }
   @else if ( verion == 2) {
    <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is 22222222222some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
   }
   @else if ( verion == 3) {
    <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some33333333333333333 placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
   }
   @else if ( verion == 4) {
    <div class=" p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some place44444444444holder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
   }

</div> -->
<hr class="my-4">
<div class="">
  <p class="text-[#4880FF] text-xl">Its components</p>
  <div class="flex items-center">
  <div class="ser my-5 flex flex-col items-center justify-center space-y-2">
    <label for="ser" class="font-[400] text-[15px]">Static Chars</label>
    <input type="text" class="rounded-md border px-2 py-1.5  text-center" placeholder="EX: SSR" disabled >
  </div>
    <p class="mx-4">-</p>
  <div class="ser my-5 flex flex-col items-center justify-center space-y-2">
    <label for="ser" class="font-[400] text-[15px] ">Serial Number</label>
    <input type="text" class="rounded-md border px-2 py-1.5  text-center " placeholder="EX: 0000010" disabled >
  </div>
    <p class="mx-4">-</p>
  <div class="ser my-5 flex flex-col items-center justify-center space-y-2">
    <label for="ser" class="font-[400] text-[15px]">Category And Sup Category Id</label>
    <input type="text" class="rounded-md border px-2 py-1.5  text-center" placeholder="EX: 10-1" disabled >

  </div>
</div>
</div>
<hr class="my-4">

</div>

