<!-- <div class="w-[20%] mx-auto">
  <img src="../../../assets/images/chatbot.png" class="w-full" alt="" >
</div> -->
<div
  class="mx-auto bg-white dark:bg-zinc-800 shadow-lg rounded-lg overflow-hidden"
>
  <div class="flex flex-col h-[500px]">
    <div class="px-4 py-3 border-b dark:border-zinc-700">
      <div class="flex justify-between items-center">
        <h2 class="text-lg font-semibold text-zinc-800 dark:text-white">
          ChatGPT <span class="text-sm">plus</span>
        </h2>
        <div class="bg-green-500 text-white text-xs px-2 py-1 rounded-full">
          Online
        </div>
      </div>
    </div>

    <div
      class="flex-1 p-5 overflow-y-auto flex flex-col space-y-4"
      id="chatDisplay"
    >
      <div class="mx-auto">
        <img
          src="../../../assets/images/icons8-chatgpt-100.png"
          class="w-full"
          alt=""
        />
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-start bg-zinc-500 text-white max-w-xs rounded-lg px-3 py-1.5"
      >
        <p class="text-[18px]">Hello! I need a Chatbot!</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-start bg-zinc-500 text-white max-w-xs rounded-lg px-3 py-1.5"
      >
        <p class="text-[18px]">Hello! I need a Chatbot!</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-start bg-zinc-500 text-white max-w-xs rounded-lg px-3 py-1.5"
      >
        <p class="text-[18px]">Hello! I need a Chatbot!</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
      <div
        class="chat-message self-start bg-zinc-500 text-white max-w-xs rounded-lg px-3 py-1.5"
      >
        <p class="text-[18px]">Hello! I need a Chatbot!</p>
      </div>
      <div
        class="chat-message self-end bg-[#4880ff] text-white max-w-xs rounded-lg px-4 py-2.5"
      >
        <p class="text-[18px]">Hello! How can I assist you today?</p>
      </div>
    </div>
    <div class="px-3 py-3 border-t-2 dark:border-zinc-700">
      <div class="flex gap-2">
        <input
          placeholder="Type your message..."
          class="flex-1 p-2 border-2 rounded-lg dark:bg-zinc-700 dark:text-white dark:border-zinc-600 text-sm"
          id="chatInput"
          type="text"
        />
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-[500] py-1.5 px-3 rounded-lg transition duration-300 ease-in-out text-sm"
          id="sendButton"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
